# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Logs and temp files
*.log
*.tmp
*.swp
.DS_Store

# VSCode / IDE settings
.vscode/
.idea/

# Build artifacts
dist/
build/
*.spec

# Docker
*.tar
